@{
	ViewData["Title"] = "Vytvoreni smlouvy";
}

<head>
	<title>@ViewData["Title"] - vytvoř smlouvu</title>
    <link href="~/lib/bootstrap4c/component-chosen.min.css" rel="stylesheet">
</head>

<div class="container">
  <form>
    <div class="form-group">
        <label for="InstituceID">Instituce</label>
        <input required type="text" class="form-control" id="instituceID" aria-describedby="instituceHelp" placeholder="Zadejte instituce">
        <small id="instituceHelp" class="form-text text-muted">Instituce, která uzavírá smlouvu.</small>
    </div>
    <div class="form-group">
      <label for="klientID">Klient</label>
      <select class="form-control" id="klientID">
        <option selected>Vyberte klienta...</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
      <div class="form-group">
      <label for="spravciID">Spracvci</label>
       <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="checkBox1">
        <label class="form-check-label" for="checkBox1">
            Tomas
        </label>
        </div>
    </div>
   <div class="form-group">
    <label for="datumPlatnostiID">Datum platnosti</label>
    <input required type="date" class="form-control" id="datumPlatnostiID" aria-describedby="datumPlatnostiHelp">
    <small id="datumPlatnostiHelp" class="form-text text-muted">Zvolte datum platnosti</small>
  </div>
     <div class="form-group mb-3">
    <label for="datumUkonceniID">Datum Ukonceni</label>
    <input required type="date" class="form-control" id="datumUkonceniID" aria-describedby="datumUkonceniHelp">
    <small id="datumUkonceniHelp" class="form-text text-muted">Zvolte datum Ukonceni</small>
  </div>
    <button type="submit" class="btn btn-primary">Submit</button>
 </form>
</div>
